[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "*"
argparse = "*"
requests = "*"
easyimap = "*"
flask = "*"
apscheduler = "*"
flask-restplus = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
